<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="../static/css/login-style.css">
   <script src="../static/js/jquery-1.11.2.js"></script>
   <link rel="stylesheet" href="../static/css/index-style.css" />
   <script src="../static/js/index.js"></script>
   <script src="../static/js/jquery.validate.js"></script>
   <title>Document</title>
 </head>
 <body>
   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">CryptoApp</div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li><a href="/">Home</a></li>
         <li class="services">
           <a href="/">Logged user</a>
           <!-- DROPDOWN MENU -->
           <ul class="dropdown">
             <li><a href="/userCard">Walet </a></li>
             <li><a href="/">Trade</a></li>
             <li><a href="/">Transactions</a></li>
             <li><a href="/">Crypto State</a></li>
           </ul>
         </li>
         <li><a href="/logIn">Sign On</a></li>
         <li><a href="/change">Change User</a></li>
         <li><a  id="logOut">Logout</a></li>
       </div>
     </ul>
   </nav> 
 </body>
</html>