<!DOCTYPE html>
<html lang="en">
 <head>
  <link rel="icon" href="../static/images/icon.png">
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <script src="../static/js/jquery-1.11.2.js"></script>
   <link rel="stylesheet" href="../static/css/index-style.css" />
   <script src="../static/js/index.js"></script>
   <script src="../static/js/navbar.js"></script>
   <script src="../static/js/jquery.validate.js"></script>
   <title>Document</title>
 </head>
 <body>
   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo">CryptoApp</div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links">
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li><a href="/">Home</a></li>
         {% if 'username' in request.cookies %}
         <li class="services">
          <a href="/">Logged user&#32;</a>
          <!-- DROPDOWN MENU -->
          <ul class="dropdown">
            <li><a href="javascript:void(0)" onclick="loadBuyCrypto()" on>Buy</a></li>
            <li><a href="javascript:void(0)" onclick="loadTradeCrypto()" on>Trade</a></li>
            <li><a href="/">Transactions</a></li>
            <li><a href="/cryptoState">Crypto State</a></li>
          </ul>
        </li>
        <li><a href="/change">Change User</a></li>
        <li><a href="/logIn" id="logOut">Logout</a></li>
        {% else %}
        <li><a href="/logIn">Sign On</a></li>
        {% endif %} 
       </div>
     </ul>
   </nav>

   <script>
     setInterval(periodicMethod,10000);
   </script>
   
   <div style="margin: auto;margin-top: 10px; background-color: white; width: 65%; height: 65%; border-radius: 5px; text-align: center; align-content: center;align-self: center;">
    <table cellspacing="0" cellpadding="0" id="currencyTable" name="currencyTable" class="tableCurrencies" style="margin-left: auto;margin-right: auto;">
      <tr>
        <th style="border-bottom: 2px solid black;"></th>
        <th style="border-bottom: 2px solid black;">NAME</th>
        <th style="border-bottom: 2px solid black;">SHORT</th>
        <th style="border-bottom: 2px solid black;">CURRENT</br>PRICE</th>
        <th style="border-bottom: 2px solid black;">LAST</br>CHANGE</th>
      </tr>
    </table>
   </div>

 </body>
</html>