<!DOCTYPE html>
<html lang="en">
 <head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="../static/css/buyCrypto-style.css">
   <script src="../static/js/globalEndpoint.js"></script>
   <script src="../static/js/jquery-1.11.2.js"></script>
   <link rel="stylesheet" href="../static/css/index-style.css" />
   <script src="../static/js/cardVerification.js"></script>
   <script src="../static/js/jquery.validate.js"></script>
   <script src="../static/js/navbar.js"></script>
   <title>Card</title>
 </head>
 <body>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo">CryptoApp</div>
        <!-- NAVIGATION MENU -->
        <ul class="nav-links">
          <!-- NAVIGATION MENUS -->
          <div class="menu">
            <li><a href="/">Home</a></li>
            {% if 'username' in request.cookies %}
            <li class="services">
             <a href="/">Logged user&#32;</a>
             <!-- DROPDOWN MENU -->
             <ul class="dropdown">
              <li><a href="javascript:void(0)" onclick="loadBuyCrypto()" on>Buy</a></li>
            <li><a href="javascript:void(0)" onclick="loadTradeCrypto()" on>Trade</a></li>
            <li><a href="/transactions">Transactions</a></li>
              <li><a href="/cryptoState">Crypto State</a></li>
             </ul>
           </li>
           <li><a href="/change">Change User</a></li>
           <li><a href="/logIn"  id="logOut">Logout</a></li>
           {% else %}
           <li><a href="/logIn">Sign On</a></li>
           {% endif %} 
          </div>
        </ul>
      </nav> 
      <div class="centered" id="centered">
        <div class="container" id="container">
            <form method="post" id="card_form">
            <h1>Card Verification</h1>
              <label  class="error-msg" id="id_error"> Err msg </label>
              <label>*Before buying/trading u must verify your account</label>
              <table style="width:100%">
                <tr>
                  <td colspan="2">
                      <span style="float: left; margin-left: 5px;">Card number</span>
                      <input name="card_number" id="card_number" placeholder="&#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149; &#149;&#149;&#149;&#149;" data-slots="&#149;" data-accept="\d" size="19" required> </div>
                  </td>
                </tr>
                <tr>
                    <td colspan=2>
                        <input type="text" placeholder="Name" name="user_name" required/>
                    </td>
                </tr>
                <tr>
                  <td style="width: 50%;">
                      <span style="float: left; margin-left: 5px;">Expiry date</span>
                      <input class="first" name="expiry_date" id="expiry_date" placeholder="mm/yy" data-slots="my" required>
                  </td>
                  <td style="width: 50%;">
                      <span style="float: left; margin-left: 5px;">CCV</span>
                      <input class="second" name="ccv" id="ccv" placeholder="&#149;&#149;&#149;" data-slots="&#149;" data-accept="\d" size="3" required>
                  </td>
                </tr>
                <tr>
                    <td>
                      <span style="float: right; margin-left: 5px;">Amount in $:</span>
                    </td>
                    <td>
                      <input type="number" placeholder="Amount" name="amount" id="amount" value="1" readonly/>
                    </td>
                </tr>
              </table>
              </br>
              <button id="butnVerify"  class="buttonH">Verify</button>
            </form>
        </div>
      </div>

 </body>
</html>