<html>
    <head>
        <title>LogIn
        </title>
        <script src="../static/js/jquery-1.11.2.js"></script>
        <script src="../static/js/login.js"></script>
        </head>
    <body>
        <div>
            <h1>Login</h1>
              <form name="forma" id="forma" action="/returnState">
                <input type="text" id="email" name="email" placeholder="Email" required="required" />
                  <input type="password" name="password" placeholder="Password" required="required" />
                
              </form>
              <button id="login">Log In</button>
              <a href="/moveToRegister"><button id="register" >Register</button></a>
          </div>
        </body>
</html>