<html>
    <head>

        <title>Sign Up Form</title>
        <script src="../static/js/jquery-1.11.2.js"></script>
        <script src="../static/js/register.js"></script>
    </head>
    <body>
    <h1>Sung Up</h1>
      <form name="forma" id="forma" action="/returnState">
        <table>
            <tr><td>Unesite ime : </td><td><input type="text" name="name"></td></tr>
            <tr><td>Unesite lozinku : </td><td><input type="password" name="password"></td></tr>
            <tr><td>Unesite adresu : </td><td><input type="text" name="address"></td></tr>
            <tr><td>Unesite grad : </td><td><input type="text" name="town"></td></tr>
            <tr><td>Unesite drzavu : </td><td><input type="country" name="country"></td></tr>
            <tr><td>Unesite broj telefona : </td><td><input type="text" name="phneNum"></td></tr>
            <tr><td>Unesite email : </td><td><input type="email" name="email"></td></tr>
        </table>
        
    
      </form>
      <button id="butn">Sign Up</button>
    </body>
</html>

</html>