<html>
    <head>
        <title>LogIn
        </title>
        <script src="../static/js/jquery-1.11.2.js"></script>
        <script src="../static/js/login.js"></script>
    </head>
    <body>
        <div>
            <h1>Log In</h1>
              <form method="post" id="log_form">
                  <input type="text" id="email" name="email" placeholder="Email" required="required" />
                  <input type="password" name="password" placeholder="Password" required="required" />
                  <button id="login">Log In</button>
              </form>

              <a href="/register"><button id="register" >Register</button></a>
          </div>
        </body>
</html>