<html>
    <head>

        <title>Sign Up Form</title>
        <script src="../static/js/jquery-1.11.2.js"></script>
        <script src="../static/js/register.js"></script>
    </head>
    <body>
    <h1>Sung Up</h1>
      <form method="post">
            <table>
                <tr><td>Unesite ime : </td><td><input type="text" name="first_name"></td></tr>
                <tr><td>Unesite prezime : </td><td><input type="text" name="last_name"></td></tr>
                <tr><td>Unesite lozinku : </td><td><input type="password" name="password"></td></tr>
                <tr><td>Unesite adresu : </td><td><input type="text" name="address"></td></tr>
                <tr><td>Unesite grad : </td><td><input type="text" name="town"></td></tr>
                <tr><td>Unesite drzavu : </td><td><input type="country" name="country"></td></tr>
                <tr><td>Unesite broj telefona : </td><td><input type="text" name="phone_number"></td></tr>
                <tr><td>Unesite email : </td><td><input type="email" name="email"></td></tr>
            </table>
            <button id="butn">Sign Up</button>
      </form>

    </body>
</html>

</html>